.container
{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;

}

.box
{
   height: 150px;
   width: 150px;
   margin: 20px;
    border: 2px solid orange;
    background-color: aqua;
    transition: 2s;
    /* transition: transform 3s ease 3s; */
    /* transition: transform 3s ease-in; */
    transition: transform 3s cubic-bezier(1, -1.29, 0, 2.25);
}

.box:hover{
    /* transform: rotate(45deg); */
    transform: translateX(500px);
}